# file system
.DS_Store

# ignore .venv
.venv*

# ignore ide
.vscode

# ignore python cache
__pycache__
*.py[cod]
.env

# Google API credentials
credentials.json
token.json

# ignore local data
data*
import_files*
# ignore classifiers
models/*.classifier
